﻿@model sroSite.Models.sroLandlordContact

@{
    ViewBag.Title = "Контакты";
}

<h2>Контактные лица</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@(Request["landlordId"].IsInt() ? "Добавить контакт" : "Создать контакт")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @if(!Request["landlordId"].IsInt())
        { 
        <div class="form-group">
            @Html.LabelFor(model => model.LandlordId, "Контрагент", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LandlordId", null, htmlAttributes: new { @class = "form-control search-select2", @style = "max-width: none;" })
                @Html.ValidationMessageFor(model => model.LandlordId, "", new { @class = "text-danger" })
            </div>
        </div>   
        }

        @if (Request["landlordId"].IsInt())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.LandlordId, "Контрагент", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{ 
                        var currLandlordId = Request["landlordId"].AsInt();
                        sroSite.Models.sroLandlord landlord = sroSite.Models.ApplicationDbContext.Create().sroLandlords.Where(x => x.Id == currLandlordId).FirstOrDefault();
                    }
                    @Html.Label("LandlordId", landlord.Name, htmlAttributes: new { @class = "form-control", @style = "max-width: none;" })
                </div>
            </div>
        }
        
        <div class="form-group">
            @Html.LabelFor(model => model.Person, "Контактное лицо", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Person, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Person, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position, "Должность", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneCell, "Сотовый",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneCell, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneCell, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneCity, "Телефон", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneCity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneCity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, "Адрес", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostAddress, "Почтовый адрес", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActual, "Актуальность", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> actual = new List<SelectListItem>();
                    actual.Add(new SelectListItem
                    {
                        Text = "Неизвестно",
                        Value = String.Empty
                    });
                    actual.Add(new SelectListItem
                    {
                        Text = "Активный",
                        Value = "True"
                    });
                    actual.Add(new SelectListItem
                    {
                        Text = "Неактивный",
                        Value = "False"
                    });
                }

                @Html.DropDownListFor(model => model.IsActual, actual, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsActual, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, "Комментарий", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>   

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к контактным лицам", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")  

<script type="text/javascript">

$(document).ready(function() {
    $(".search-select2").select2();});

</script>

}
