﻿@model sroSite.Models.sroLandlordContact

@{
    ViewBag.Title = "Удалить контакт";
}

<h2>Контактное лицо</h2>

@{
    List<sroSite.Models.sroTechSite> ConnectedSites = sroSite.Models.ApplicationDbContext.Create().sroTechSites.Where(x => x.ContactId == Model.Id).ToList();
}

<h3 class="alert-danger">
    @if (ConnectedSites.Count == 0)
    {
        <span>Вы уверены что хотите удалить данное контактное лицо?</span>
    }
    else
    {
        <b>Невозможно удалить контакт - существуют связанные с контактом сайты</b>
    }
</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Контрагент
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Landlord.Name)
        </dd>

        <dt>
            Контактное лицо
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

        <dt>
            Должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            Сотовый
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCell)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCity)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Почтовый адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostAddress)
        </dd>
        <dt>
            Актуальность
        </dt>

        <dd>
            @if (Model.IsActual.HasValue)
            {
                if (Model.IsActual == true)
                {
                    <span>Актуально</span>
                }
                else
                {
                    <span>Неактуально</span>
                }
            }
            else
            {
                <span>Неизвестно</span>
            }
        </dd>

        <dt>
            Комментарий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>

    @if(ConnectedSites.Count > 0)
    {
        <h4>Связанные сайты</h4>

        foreach (var site in ConnectedSites)
        {
            <b>@site.ERP</b>
            <span>@site.Address</span>
            <br />
        }
        <br />
    }

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if(ConnectedSites.Count == 0)
            {
                <input type="submit" value="Удалить" class="btn btn-default" />
                <span> | </span>
            }
            @Html.ActionLink("К списку контактов", "Index")
        </div>
    }
</div>
