﻿@model sroSite.Models.sroLandlordContact

@{
    ViewBag.Title = "Контакты";
}

<h2>Контактное лицо</h2>

<div>
    <h4>@Model.Landlord.Name</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Контактное лицо
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person)
        </dd>

        <dt>
            Должность
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            Сотовый
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCell)
        </dd>

        <dt>
            Городской
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCity)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Почтовый адрес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostAddress)
        </dd>

        <dt>
            Актуальность
        </dt>

        <dd>
            @if (Model.IsActual.HasValue)
            {
                if (Model.IsActual == true)
                {
                    <span>Актуально</span>
                }
                else
                {
                    <span>Неактуально</span>
                }
            }
            else
            {
                <span>Неизвестно</span>
            }
            @if (Model.ActualizationDate.HasValue)
            {
                <span>на&nbsp;@Model.ActualizationDate</span>
            }
        </dd>
        <dt>
            Комментарий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку контактов", "Index")
</p>
