﻿@model IEnumerable<sroSite.Models.sroLandlordContact>

@{
    ViewBag.Title = "Контакты";

}

<h2>    
    Контакты
    @if (!Request["landlordId"].IsInt())
    {
        <a href="@Url.Action("Create", "sroLandlordContacts", routeValues: null)" id="createLink"><span class="glyphicon glyphicon-plus-sign"></span></a>
    }

    @if (Request["landlordId"].IsInt())
    {
        <a href="@Url.Action("Create", "sroLandlordContacts", new { landlordId = Request["landlordId"] })" id="createLink"><span class="glyphicon glyphicon-plus-sign"></span></a>
        <a href="@Url.Action("Index", "sroLandlordContacts", routeValues: null)" id="showAllLink"><span class="glyphicon glyphicon-remove"></span></a>
    }
</h2>
<h4>
    @if (Request["landlordId"].IsInt())
    {
        int landlordId;
        if (int.TryParse(Request["landlordId"], out landlordId))
        {
            <span>@sroSite.Models.ApplicationDbContext.Create().sroLandlords.Where(x => x.Id == landlordId).FirstOrDefault().Name</span>
        }
    }
</h4>   

<br />
@{
    int page;
    string search;
}
@if (Request["page"].IsInt())
{
    if (int.TryParse(Request["page"], out page))
    {

    }
    else
    {
        page = 1;
    }
}
else
{
    page = 1;
}
@if (ViewBag.page > 0)
{
    page = ViewBag.page;
}
@if (!Request["search"].IsEmpty())
{
    search = Request["search"];
}
else
{
    search = string.Empty;
}
@if (!Request["landlordId"].IsInt())
{
<form id="navData" name="navData">
    <div class="row">
        <div class="col-md-9">
            @if(ViewBag.TotalCount > 12)
            { 
                <ul class="pagination" style="margin-top: 0px; margin-bottom: 5px;">
                    @for (int i = 0; i < ViewBag.TotalCount; i+=12)
                    {
                        <li class="@(page == ((i / 12) + 1) ? "active" : "")"><a href="@(Url.Action("Index", new { page = ((i / 12) + 1), search = search }))">@((i / 12) + 1)</a></li>
                    }
                </ul>
            }
        </div>
        <div class="col-md-3">
            <div class="input-group" style="margin-top: 0px; margin-bottom: 10px;">
                <!--<div class="form-group has-feedback has-clear">-->
                    <input type="text" class="form-control" placeholder="Поиск" value="@(String.IsNullOrEmpty(search) ? "" : search)" onkeyup="searchKeyUp()" id="searchfield">
                    <!--<span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden" style="z-index: 10;pointer-events: auto;cursor: pointer;"></span>-->
                <!--</div>-->
                <div class="input-group-btn">
                    <button class="btn btn-default" style="height:34px;" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("page", page)
    @Html.Hidden("search", search)
    @Html.Hidden("searchchanged")
</form>
}

<table class="table">
    <tr>
        <th>
        </th>
        <th style="width: 40%;">
            Наименование
        </th>
        <th>
           Контактное лицо
        </th>
        <th>
            Должность
        </th>
        <th style="width: 150px;">
            Телефоны
        </th>        
        <th style="width: 90px;"></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="vertical-align: middle; text-align: center;">
            @Html.DisplayFor(modelItem => item.IsActual, "NullableBoolColorTeamplate")
        </td>
        <td style="vertical-align: middle;">
            @Html.ActionLink(item.Landlord.Name, "Index", "sroLandlordContacts", new { landlordId = item.LandlordId }, null)
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.Person)
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.PhoneCell)
            @if (!string.IsNullOrEmpty(item.PhoneCell) && !string.IsNullOrEmpty(item.PhoneCity))
            {
                <br />
            }            
            @Html.DisplayFor(modelItem => item.PhoneCity)
        </td>
        
        <td style="vertical-align: middle; text-align: center; min-width: 90px;">
            <a href="@Url.Action("Edit", "sroLandlordContacts", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="@Url.Action("Details", "sroLandlordContacts", new { id = item.Id })"><span class="glyphicon glyphicon-list-alt"></span></a>
            <a href="@Url.Action("Delete", "sroLandlordContacts", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>
@section Scripts {
    <script>
        function searchKeyUp()
        {
            document.getElementById("search").value = document.getElementById("searchfield").value;
            document.getElementById("searchchanged").value = 1;
        }

        $('.has-clear input[type="text"]').on('input propertychange', function () {
            var $this = $(this);
            var visible = Boolean($this.val());
            $this.siblings('.form-control-clear').toggleClass('hidden', !visible);
        }).trigger('propertychange');

        $('.form-control-clear').click(function () {
            $(this).siblings('input[type="text"]').val('')
                .trigger('propertychange').focus();
        });
    </script>
}