﻿@model sroSite.Models.sroProposal

@{
    ViewBag.Title = "Предложения";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default" style="margin-top: 15px;">
        <div class="panel-heading"><h4>Добавить предложение к звонку <strong>@ViewBag.CallId</strong></h4></div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @{
                Html.EnableClientValidation(false);
            }

            <div class="well">
                @{              
                    int CallId = -1;
                    if (ViewBag.CallId != null)
                    {
                        int.TryParse(ViewBag.CallId.ToString(), out CallId);
                    }
                    sroSite.Models.ApplicationDbContext db = sroSite.Models.ApplicationDbContext.Create();
                    var Call = db.sroCalls.Where(x => x.Id == CallId).FirstOrDefault();
                    var Contact = db.sroLandlordContacts.Where(x => x.Id == Call.ContactId).FirstOrDefault();
                    var Landlord = Contact != null ? Contact.Landlord : null;
                    var TechSites = db.sroCalls.Where(c => c.Id == CallId).SelectMany(t => t.CallsTechSites).Select(s => s.TechSite);
                }
                @if (CallId > -1)
                {
                    decimal? totalPrice = 0;
                    foreach (var site in TechSites)
                    {
                        totalPrice += site.PricePerMonth != null ? site.PricePerMonth : 0;
                    }
                    <span>Сайтов:&nbsp;@(TechSites.Count().ToString())&nbsp;на&nbsp;сумму&nbsp;@(totalPrice.ToString())&nbsp;руб.</span>
                }
                else
                {
                    <span class="warning">Звонок не найден</span>
                }
            </div>
            
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.DecreaseValue, "Снижение, руб. в мес. без НДС", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DecreaseValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DecreaseValue, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DecreasePercent, "Снижение, %", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DecreasePercent, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DecreasePercent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DecreaseStart, "Дата начала", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DecreaseStart, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DecreaseStart, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DecreaseEnd, "Дата окончания", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DecreaseEnd, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DecreaseEnd, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Prepayment, "Аванс, мес.", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Prepayment, new { htmlAttributes = new { @class = "form-control", @id = "Prepayment" } })
                        @Html.ValidationMessageFor(model => model.Prepayment, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HasAdditionalCosts, "Доп. затраты", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.HasAdditionalCosts)
                            @Html.ValidationMessageFor(model => model.HasAdditionalCosts, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsLandlordProposal, "Предложение контрагента", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.IsLandlordProposal)
                            @Html.ValidationMessageFor(model => model.IsLandlordProposal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    @Html.LabelFor(model => model.Success, "Принято", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Success)
                            @Html.ValidationMessageFor(model => model.Success, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       

             

        <div class="form-group">            
            <input type="submit" value="Добавить" class="btn btn-default" onclick="SetDefaultValues()" style="margin-left: 0px;"/>
        </div>
}

<div>
    @Html.ActionLink("К списку предложений", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function SetDefaultValues()
        {
            var currVal = document.getElementById("Prepayment").value;
            if (currVal == "")
            {
                document.getElementById("Prepayment").setAttribute("value", "0");
            }
        }
    </script>
}
