﻿@model sroSite.Models.sroProposal

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sroProposal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Call.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Call.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecreaseValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreaseValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecreasePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreasePercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecreaseStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreaseStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecreaseEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreaseEnd)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.Prepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasAdditionalCosts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasAdditionalCosts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLandlordProposal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLandlordProposal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Success)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Success)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
