﻿@model sroSite.Models.sroProposal

@{
    ViewBag.Title = "Предложения";
}

<h2>Предложения</h2>

<div>
    <h4>@Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Звонок</span>
        </dt>

        <dd>
            <a href="@Url.Action("Details", "sroCalls", new { Id = Model.CallId })">
                @Html.DisplayFor(model => model.Call.Id)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecreaseValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreaseValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecreasePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreasePercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecreaseStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreaseStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DecreaseEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DecreaseEnd)
        </dd>                

        <dt>
            @Html.DisplayNameFor(model => model.Prepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasAdditionalCosts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasAdditionalCosts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLandlordProposal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLandlordProposal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Success)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Success)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
