﻿@model IEnumerable<sroSite.Models.sroProposal>

@{
    ViewBag.Title = "Предложения";
}

<h2>Предложения</h2>

@{
    int page;
    string search;
}
@if (Request["page"].IsInt())
{
    if (int.TryParse(Request["page"], out page))
    {

    }
    else
    {
        page = 1;
    }
}
else
{
    page = 1;
}
@if (ViewBag.page > 0)
{
    page = ViewBag.page;
}
@if (!Request["search"].IsEmpty())
{
    search = Request["search"];
}
else
{
    search = string.Empty;
}

<form id="navData" name="navData">
    <div class="row">
        <div class="col-md-9">
            @if (ViewBag.TotalCount > 12)
            {
                <ul class="pagination" style="margin-top: 0px; margin-bottom: 5px;">
                    @for (int i = 0; i < ViewBag.TotalCount; i += 12)
                    {
                        <li class="@(page == ((i / 12) + 1) ? "active" : "")"><a href="@(Url.Action("Index", new { page = ((i / 12) + 1), search = search }))">@((i / 12) + 1)</a></li>
                    }
                </ul>
            }
        </div>
        <div class="col-md-3">
            <div class="input-group" style="margin-top: 0px; margin-bottom: 10px;">
                <!--<div class="form-group has-feedback has-clear">-->
                <input type="text" class="form-control" placeholder="Поиск" value="@(String.IsNullOrEmpty(search) ? "" : search)" onkeyup="searchKeyUp()" id="searchfield">
                <!--<span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden" style="z-index: 10;pointer-events: auto;cursor: pointer;"></span>-->
                <!--</div>-->
                <div class="input-group-btn">
                    <button class="btn btn-default" style="height:34px;" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("page", page)
    @Html.Hidden("search", search)
    @Html.Hidden("searchchanged")
</form>



<table class="table">
    <tr>
        <th>
            <span>Id</span>
        </th>
        <th>
            <span>Звонок</span>
        </th>
        <th>
            <span>Контрагент</span>
        </th>
        <th>
            <span>Снижение, руб. в мес.</span>
        </th>
        <th>
            <span>Снижение, %</span>
        </th>
        <th>
            <span>Дата</span>
        </th>       
        <th>
            <span>Аванс</span>
        </th>
        <th>
            <span>Статус</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call.CallsTechSites.FirstOrDefault().TechSite.Contact.Landlord.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecreaseValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecreasePercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecreaseStart)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Prepayment)
        </td>
        <td>
            @{
                string state = "Рассматривается";
                if (item.Success.HasValue && item.Success == true)
                {
                    state = "Принято";
                }
                if (item.Success.HasValue && item.Success == false)
                {
                    state = "Отклонено";
                }
            }
            <span>@state</span>
        </td>
        <td style="vertical-align: middle; text-align: center; min-width: 90px;">
            <a href="@Url.Action("Edit", "sroProposals", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="@Url.Action("Details", "sroProposals", new { id = item.Id })"><span class="glyphicon glyphicon-list-alt"></span></a>
            <a href="@Url.Action("Delete", "sroProposals", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>
@section Scripts {
    <script>
        function searchKeyUp() {
            document.getElementById("search").value = document.getElementById("searchfield").value;
            document.getElementById("searchchanged").value = 1;
        }

        $('.has-clear input[type="text"]').on('input propertychange', function () {
            var $this = $(this);
            var visible = Boolean($this.val());
            $this.siblings('.form-control-clear').toggleClass('hidden', !visible);
        }).trigger('propertychange');

        $('.form-control-clear').click(function () {
            $(this).siblings('input[type="text"]').val('')
                .trigger('propertychange').focus();
        });
    </script>
}