﻿@model sroSite.Models.sroLandlord

@{
    ViewBag.Title = "Добавить контрагента";
}

<h2>Контрагенты</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Добавить контрагента</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Наименование", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.INN, "ИНН", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.INN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, "Тип", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> types = new List<SelectListItem>();
                    types.Add(new SelectListItem
                    {
                        Text = "",
                        Value = string.Empty
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "Коммерческий",
                        Value = "Коммерческий"
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "ИП / Физ. лицо",
                        Value = "ИП / Физ. лицо"
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "Муниципальный",
                        Value = "Муниципальный"
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "ТСЖ/ТСН/УК",
                        Value = "ТСЖ/ТСН/УК"
                    });
                }

                @Html.DropDownListFor(model => model.Type, types, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("К списку контрагентов", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
