﻿@model sroSite.Models.sroLandlord

@{
    ViewBag.Title = "Удалить контрагента";
}

<h2>Контрагенты</h2>

<h3 class="alert-danger">Вы уверены что хотите удалить контрагента "@Html.DisplayFor(model => model.Name)"?
    <br />
    <b>Все связанные записи так же будут удалены!</b>
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Наименование
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            ИНН
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

        <dt>
            Тип
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку контрагентов", "Index")
        </div>
    }
</div>
