﻿@model IEnumerable<sroSite.Models.sroLandlord>

@{
    ViewBag.Title = "Контрагенты";
}

<h2>Контрагенты</h2>

<p>
    <h4>
        @Html.ActionLink("Добавить контрагента", "Create")
    </h4>
</p>
<br />
@if (Model.Count() > 0)
{
<table class="table">
    <tr>
        <th style="width: 46%;">
            Наименование
        </th>
        <th style="width: 9%;">
            ИНН
        </th>
        <th style="width: 9%;">
            Тип
        </th>
        <th style="width: 5%;">
            Сайты
        </th>
        <th style="width: 8%;">
            Контакты
        </th>
        <th style="width: 23%;"></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td  style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td  style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.INN)
        </td>
        <td  style="vertical-align: middle;">
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td style="vertical-align: middle; text-align: center;">
            @item.Sites.Count
        </td>
        <td style="vertical-align: middle; text-align: center;">
            @Html.ActionLink(item.Contacts.Count + " ( " + item.Contacts.Where(x => x.IsActual == true).Count() + " )", "Index", "sroLandlordContacts", new { landlordId = item.Id }, null)

        </td>
        <td style="vertical-align: middle;">
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Просмотр", "Details", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
}
