﻿@model IEnumerable<sroSite.Models.ApplicationUser>

@{
    ViewBag.Title = "Пользователи";
}

<h2><a href="@Url.Action("Register", "Account", routeValues: null)" id="registerLink"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;&nbsp;&nbsp;Пользователи: @Model.Count().ToString()</h2>
<br />
<table class="table">
    <tr>
        <th></th>
        <th>Пользователь</th>
        <th>роль_Сопров</th>
        <th>Сопров</th>
        <th>роль_Агент</th>
        <th>Агент</th>
        <th>роль_Менеджер</th>
        <th>роль_Другие</th>
    </tr>
    @foreach (var item in Model)
    {
        var roles = item.Roles.ToList();
        bool rManager = false;
        bool rAgent = false;
        bool rNegotiator = false;

        for (int i = roles.Count - 1; i >= 0; i--)
        {
            switch (roles[i].RoleId)
            {
                case "sroManager": rManager = true; roles.RemoveAt(i); break;
                case "sroAgent": rAgent = true; roles.RemoveAt(i); break;
                case "sroNegotiator": rNegotiator = true; roles.RemoveAt(i); break;
                default: break;
            }
        }
        int rOther = roles.Count;

        <tr>
            <td><a href="@Url.Action("SwapUserAsync", new { UserId = item.Id})"><span class="glyphicon glyphicon-log-in"></span></a></td>
            <td>@item.Email</td>
            <td>@(rNegotiator ? "1" : "0")</td>
            <td>@(sroSite.Models.ApplicationDbContext.Create().sroNegotiators.Where(x => x.UId == item.UserName).Count().ToString())</td>
            <td>@(rAgent ? "1" : "0")</td>
            <td>@(sroSite.Models.ApplicationDbContext.Create().sroAgents.Where(x => x.UId == item.UserName).Count().ToString())</td>
            <td>@(rManager ? "1" : "0")</td>
            <td>@rOther.ToString()</td>
        </tr>
    }
</table>

