﻿@model sroSite.Models.sroAgent

@{
    ViewBag.Title = "Удалить агента";
}

<h2>Агенты</h2>

<h3 class="alert-danger">Вы уверены что хотите удалить агента "@Html.DisplayFor(model => model.FIO)"?
    <br />
    <b>Все связанные записи так же будут удалены!</b>
</h3>
<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            ФИО
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            Логин/Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UId)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку агентов", "Index")
        </div>
    }
</div>

<div>
    @Html.ActionLink("Назад к списку агентов", "Index")
</div>
