﻿@model sroSite.Models.sroAgent

@{
    ViewBag.Title = "Просмотр агента";
}

<h2>Агенты</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @if (User.IsInRole("sroManager"))
            {
                <span>Логин/</span>
            }
            <span>Email</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UId)
        </dd>

        <dt>
            ФИО
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            Телефон
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
@if (User.IsInRole("sroManager"))
{
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку агентов", "Index")
</p>
}
