﻿@model IEnumerable<sroSite.Models.sroAgent>

@{
    ViewBag.Title = "Агенты";
}

<h2>Агенты</h2>

<p>
    <h4>
        @Html.ActionLink("Добавить агента", "Create")
    </h4>
</p>
<br />
@if (Model.Count() > 0)
{
    <div>
        <table class="table">
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Телефон
                </th>
                <th>
                    Email/UId
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UId)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
}
