﻿@{
    ViewBag.Title = "HOME";
}

@if (User.IsInRole("sroManager"))
{
    {
        List<int> siteStates = ViewBag.SiteStates;
        decimal savings = ViewBag.Savings * (-1);

    <div class="jumbotron" style="margin-bottom: 15px; margin-top: 30px;">
        <h1>Экономия: @(savings.ToString()) руб.</h1>
        <br />
        <p>
            <b>Новые сайты: @(siteStates[0].ToString())</b>
        </p>
        <p>
            <b>В работе: @(siteStates[1].ToString())</b>&nbsp;(Подготовка:&nbsp;@(siteStates[3].ToString()),&nbsp;Дозвон:&nbsp;@(siteStates[4].ToString()),&nbsp;Рассмотрение:&nbsp;@(siteStates[5].ToString()),&nbsp;Реализация:&nbsp;@(siteStates[6].ToString()))
        </p>
        <p>
            <b>Завершено: @(siteStates[2].ToString())</b>&nbsp;(Снижение:&nbsp;@(siteStates[7].ToString()),&nbsp;Удержание:&nbsp;@(siteStates[8].ToString()),&nbsp;Рост:&nbsp;@(siteStates[9].ToString()),&nbsp;Недозвон:&nbsp;@(siteStates[10].ToString()))
        </p>

        

    </div>
    }

    {
        List<sroSite.Models.sroAgent> agents = ViewBag.Agents;
        List<int> sitesCount = ViewBag.SitesCount;
        List<int> finishedSitesCount = ViewBag.FinishedSitesCount;
        List<int> callsCount = ViewBag.CallsCount;
        int currAgent = 0;

        foreach (var item in agents)
        {
            var complete = sitesCount[currAgent] != 0 ? finishedSitesCount[currAgent] * 100 / sitesCount[currAgent] : 0;

            if (currAgent % 2 == 0)
            {
                @:<div class="row" style="height: 200px;">
            }
                <div class="col-md-6" style="display: block; max-width: 555px; margin: 15px; border-radius: 6px; background-color: #eeeeee;">
                    <div>
                        <span style="font-size: 48px;">
                            @(string.IsNullOrEmpty(item.Name) ? item.FIO : item.Name )
                        </span>
                        <span style="font-size: 16px;">&nbsp;-&nbsp;Сайтов:</span>
                        <span style="font-size: 24px;">@sitesCount[currAgent]&nbsp;(@finishedSitesCount[currAgent])</span>
                        &nbsp;                        
                        <span style="font-size: 16px;">Звонков:</span>
                        <span style="font-size: 24px;">@callsCount[currAgent]</span>
                    </div>
                    <span style="font-size: 64px; padding: 0px; margin: 0px;">@complete<span>%</span></span> 
                    <p><a class="btn btn-default" href="@Url.Action("Details", "sroAgents", new { item.Id })">Просмотр &raquo;</a></p>
                </div>

            if (currAgent % 2 != 0 || currAgent == (agents.Count - 1))
            {
                @:</div>
            }
            currAgent++;
        }
    }
}

@if (User.IsInRole("sroAgent"))
{
    <div style="margin-top: 15px;"></div>
    <h2>Привет,&nbsp;@(sroSite.Models.Extensions.IdentityExtentions.GetSroUserName())!</h2>
    <div style="margin-top: 15px;"></div>
    <div class="panel panel-default">
        <div class="panel-heading">Мои сайты</div>
        <div class="panel-body">
            <h1><a href="@Url.Action("Index", "sroTechSites")">Сайты</a>&nbsp;<span class="label label-default">@(ViewBag.AgentSitesCount != null ? ViewBag.AgentSitesCount : 0)</span></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Мои звонки</div>
        <div class="panel-body">
            <h1><a href="@Url.Action("Index", "sroCalls")">Звонки</a>&nbsp;<span class="label label-default">@(ViewBag.AgentCallsCount != null ? ViewBag.AgentCallsCount : 0)</span></h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Мои задачи</div>
        <div class="panel-body">
            <h1><a href="@Url.Action("Index", "sroTasks")">Задачи</a>&nbsp;<span class="label label-default">@(ViewBag.AgentTasksCount != null ? ViewBag.AgentTasksCount : 0)</span></h1>
        </div>
    </div>
}