﻿@model sroSite.Models.sroTask

@{
    ViewBag.Title = "Задачи";
}

<h2>Задачи</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Добавить</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.CallId, "Звонок", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class = "form-control" for="CallId" style="width: 280px;">@ViewBag.CallId</label>
                @Html.ValidationMessageFor(model => model.CallId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Type, "Тип", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> types = new List<SelectListItem>();
                    types.Add(new SelectListItem
                    {
                        Text = "Запрос информации",
                        Value = "Запрос информации",
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "Подписание письма",
                        Value = "Подписание письма",
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "Письмо по почте",
                        Value = "Письмо по почте",
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "Подписание документа",
                        Value = "Подписание документа",
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "Предложение контрагента",
                        Value = "Предложение контрагента",
                    });
                    types.Add(new SelectListItem
                    {
                        Text = "Эскалация",
                        Value = "Эскалация",
                    });
                }
                @Html.DropDownListFor(model => model.Type, types, new { @class = "form-control", @onChange= "TypeChanged(this.options[this.selectedIndex].value)" })
            </div>
        </div>

        <!--
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Responsible, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Responsible, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Responsible, "", new { @class = "text-danger" })
            </div>
        </div>
        
            <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastChangeDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastChangeDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastChangeDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.ResponseData, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ResponseData, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ResponseData, "", new { @class = "text-danger" })
            </div>
        </div>

        -->

        

        

        <div class="form-group">
            @Html.LabelFor(model => model.TaskData, "Описание", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.TaskData, new { @class = "form-control", @style = "min-width: 100%; min-height: 120px;" })
                @Html.ValidationMessageFor(model => model.TaskData, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.EcmLink, "Ссылка ECM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EcmLink, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.EcmLink, "", new { @class = "text-danger" })
            </div>
        </div>                

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("К списку задач", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
      
        function TypeChanged(selectedValue)
        {
            if (selectedValue == "Подписание письма" || selectedValue == "Письмо по почте")
            {
                document.getElementById("EcmLink").disabled = "";
            }
            else
            {
                document.getElementById("EcmLink").disabled = "disabled";
                document.getElementById("EcmLink").value = "";
            }
        }
</script>
}
