﻿@model sroSite.Models.sroTask

@{
    ViewBag.Title = "Задачи";
}

<h2>Задачи</h2>

<div>
    <h4>@Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Звонок</span>
        </dt>

        <dd>
            <a href="@Url.Action("Details", "sroCalls", new { Id = Model.CallId })">
                @Html.DisplayFor(model => model.Call.Id)
            </a>
        </dd>

        <dt>
            <span>Тип</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            <span>Статус</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            <span>Участник</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsible)
        </dd>

        <dt>
            <span>Создана</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            <span>Изменена</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChangeDate)
        </dd>

        <dt>
            <span>Завершена</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            <span>Описание</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskData)
        </dd>

        <dt>
            <span>Ответ</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseData)
        </dd>

        <dt>
            <span>Ссылка ECM</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcmLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку задач", "Index")
</p>
