﻿@model sroSite.Models.sroTask

@{
    ViewBag.Title = "Задачи";
}

<h2>Задачи</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Редактирование задачи @Model.Id</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-4" style="display: block; min-width: 555px; max-width: 555px; margin-left: 15px; margin-right: 15px;">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("ID Звонка")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CallId)
                        </dd>
                        <br />
                        <dt>
                            @Html.DisplayName("Тип")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="col-md-4" style="display: block; min-width: 555px; max-width: 555px; margin-left: 15px; margin-right: 15px;">
                <div>
                   
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Создана")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>
                        <br />
                        <dt>
                            @Html.DisplayName("Изменена")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastChangeDate)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaskData, "Описание", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TaskData)
            </div>
        </div>

        @if (Model.Type == "Подписание письма" || Model.Type == "Письмо по почте")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.EcmLink, "Ссылка ECM", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <a href="@Model.EcmLink">@Model.EcmLink</a>
                </div>
            </div>
        }

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Статус", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    List<SelectListItem> states = new List<SelectListItem>();
                    states.Add(new SelectListItem
                    {
                        Text = "Новая",
                        Value = "Новая",
                        Selected = Model.Status == "Новая"
                    });

                    switch (Model.Type)
                    {
                        case "Запрос информации":
                            {
                                states.Add(new SelectListItem
                                {
                                    Text = "Поиск данных",
                                    Value = "Поиск данных",
                                    Selected = Model.Status == "Поиск данных"
                                });
                                break;
                            }
                        case "Подписание письма":
                            {
                                states.Add(new SelectListItem
                                {
                                    Text = "Согласование текста",
                                    Value = "Согласование текста",
                                    Selected = Model.Status == "Согласование текста"
                                });
                                states.Add(new SelectListItem
                                {
                                    Text = "Подписание",
                                    Value = "Подписание",
                                    Selected = Model.Status == "Подписание"
                                });
                                break;
                            }
                        case "Письмо по почте":
                            {
                                states.Add(new SelectListItem
                                {
                                    Text = "Согласование текста",
                                    Value = "Согласование текста",
                                    Selected = Model.Status == "Согласование текста"
                                });
                                states.Add(new SelectListItem
                                {
                                    Text = "Подписание",
                                    Value = "Подписание",
                                    Selected = Model.Status == "Подписание"
                                });
                                states.Add(new SelectListItem
                                {
                                    Text = "Отправка",
                                    Value = "Отправка",
                                    Selected = Model.Status == "Отправка"
                                });
                                break;
                            }
                        case "Подписание документа":
                            {
                                states.Add(new SelectListItem
                                {
                                    Text = "Формирование пакета",
                                    Value = "Формирование пакета",
                                    Selected = Model.Status == "Формирование пакета"
                                });
                                states.Add(new SelectListItem
                                {
                                    Text = "Электронное согласование",
                                    Value = "Электронное согласование",
                                    Selected = Model.Status == "Электронное согласование"
                                });
                                states.Add(new SelectListItem
                                {
                                    Text = "Подписание ВымпелКом",
                                    Value = "Подписание ВымпелКом",
                                    Selected = Model.Status == "Подписание ВымпелКом"
                                });
                                states.Add(new SelectListItem
                                {
                                    Text = "Подписание контрагентом",
                                    Value = "Подписание контрагентом",
                                    Selected = Model.Status == "Подписание контрагентом"
                                });
                                states.Add(new SelectListItem
                                {
                                    Text = "Отражение в системах",
                                    Value = "Отражение в системах",
                                    Selected = Model.Status == "Отражение в системах"
                                });
                                break;
                            }
                        case "Предложение контрагента":
                            {
                                states.Add(new SelectListItem
                                {
                                    Text = "Проработка",
                                    Value = "Проработка",
                                    Selected = Model.Status == "Проработка"
                                });
                                break;
                            }
                        case "Эскалация":
                            {
                                states.Add(new SelectListItem
                                {
                                    Text = "В работе",
                                    Value = "В работе",
                                    Selected = Model.Status == "В работе"
                                });
                                break;
                            }
                        default: { break; }

                    }
                }
                @Html.DropDownListFor(model => model.Status, states, new { @class = "form-control" })
                </div>
             </div>





                               
                        <!--

                            <div class="form-group">
                    @Html.LabelFor(model => model.CallId, "CallId", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CallId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CallId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @{
                            List<SelectListItem> types = new List<SelectListItem>();
                            types.Add(new SelectListItem
                            {
                                Text = "Запрос информации",
                                Value = "Запрос информации",
                                Selected = Model.Type == "Запрос информации"
                            });
                            types.Add(new SelectListItem
                            {
                                Text = "Подписание письма",
                                Value = "Подписание письма",
                                Selected = Model.Type == "Подписание письма"
                            });
                            types.Add(new SelectListItem
                            {
                                Text = "Письмо по почте",
                                Value = "Письмо по почте",
                                Selected = Model.Type == "Предложение по почте"
                            });
                            types.Add(new SelectListItem
                            {
                                Text = "Подписание документа",
                                Value = "Подписание документа",
                                Selected = Model.Type == "Подписание документа"
                            });
                            types.Add(new SelectListItem
                            {
                                Text = "Предложение контрагента",
                                Value = "Предложение контрагента",
                                Selected = Model.Type == "Предложение контрагента"
                            });
                            types.Add(new SelectListItem
                            {
                                Text = "Эскалация",
                                Value = "Эскалация",
                                Selected = Model.Type == "Эскалация"
                            });
                        }
                        @Html.DropDownListFor(model => model.Type, types, new  { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                    -->


                    <div class="form-group">
                        <label class="control-label col-md-2">Участник</label>
                        <div class="col-md-10">
                            <select class="form-control search-select2" id="Responsible" name="Responsible">
                                @if (Model.Responsible == "")
                                {
                                    <option value="" selected="selected">Нет</option>
                                }
                                else
                                {
                                    <option value="">Нет</option>
                                }
                                @foreach (var item in ViewBag.Negotiators.Items)
                                {
                                    if (item.UId == Model.Responsible)
                                    {
                                        <option value="@item.UId" selected="selected">@item.FIO</option>
                                    }
                                    else
                                    {
                                        <option value="@item.UId">@item.FIO</option>
                                    }
                                }
                             </select>
                         </div>
                    </div>

                            <!--
                            <div class="form-group">
                                @Html.LabelFor(model => model.Responsible, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Responsible, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Responsible, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            -->

                                        

                                            
        <div class="form-group">
            @Html.LabelFor(model => model.ResponseData, "Ответ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ResponseData, new { @class = "form-control", @style = "min-width: 100%; min-height: 120px;" })
                @Html.ValidationMessageFor(model => model.ResponseData, "", new { @class = "text-danger" })
            </div>
        </div>


        @if(Model.Type == "Подписание документа")
        { 
        <div class="form-group">
            @Html.LabelFor(model => model.EcmLink, "Ссылка ECM", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EcmLink, new { htmlAttributes = new { @class = "form-control", @style = "min-width: 100%;" } })
                @Html.ValidationMessageFor(model => model.EcmLink, "", new { @class = "text-danger" })
            </div>
        </div> 
        }


        <input type="hidden" name="Complete" value="" id="Complete" />


                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Сохранить" class="btn btn-default" />
                                                    
                                                    <input type="submit" value="Завершено успешно" class="btn btn-success" onclick="SuccessClick()" />

                                                    <input type="submit" value="Завершено отрицательно" class="btn btn-danger" onclick="NegativeClick()" />
                                                </div>
                                            </div>
</div>
                            }

                                        <div>
                                            @Html.ActionLink("К списку задач", "Index")
                                        </div>

                                        @section Scripts {
                                            @Scripts.Render("~/bundles/jqueryval")

                                            <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $(".search-select2").select2();
                                                });

                                                function SuccessClick()  {
                                                    document.getElementById("Complete").value = "success";
                                                }

                                                function NegativeClick() {
                                                    document.getElementById("Complete").value = "negative";
                                                }
                                            </script>
                                        }
