﻿@model IEnumerable<sroSite.Models.sroTask>

@{
    ViewBag.Title = "Задачи";
}

<h2>Задачи</h2>

@{
    int page;
    string search;
}
@if (Request["page"].IsInt())
{
    if (int.TryParse(Request["page"], out page))
    {

    }
    else
    {
        page = 1;
    }
}
else
{
    page = 1;
}
@if (ViewBag.page > 0)
{
    page = ViewBag.page;
}
@if (!Request["search"].IsEmpty())
{
    search = Request["search"];
}
else
{
    search = string.Empty;
}

    <form id="navData" name="navData">
        <div class="row">
            <div class="col-md-9">
                @if (ViewBag.TotalCount > 12)
                {
                    <ul class="pagination" style="margin-top: 0px; margin-bottom: 5px;">
                        @for (int i = 0; i < ViewBag.TotalCount; i += 12)
                        {
                            <li class="@(page == ((i / 12) + 1) ? "active" : "")"><a href="@(Url.Action("Index", new { page = ((i / 12) + 1), search = search }))">@((i / 12) + 1)</a></li>
                        }
                    </ul>
                }
            </div>
            <div class="col-md-3">
                <div class="input-group" style="margin-top: 0px; margin-bottom: 10px;">
                    <!--<div class="form-group has-feedback has-clear">-->
                    <input type="text" class="form-control" placeholder="Поиск" value="@(String.IsNullOrEmpty(search) ? "" : search)" onkeyup="searchKeyUp()" id="searchfield">
                    <!--<span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden" style="z-index: 10;pointer-events: auto;cursor: pointer;"></span>-->
                    <!--</div>-->
                    <div class="input-group-btn">
                        <button class="btn btn-default" style="height:34px;" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("page", page)
        @Html.Hidden("search", search)
        @Html.Hidden("searchchanged")
    </form>


<table class="table">
    <tr>
        <th>
            <span>Id</span>
        </th>
        <th>
            <span>Звонок</span>
        </th>
        <th>
           <span>Тип</span>
        </th>
        <th>
            <span>Статус</span>
        </th>
        <th>
            <span>Арендодатель</span>
        </th>
        <th>
            <span>Агент</span>
        </th>
        <th>
            <span>Сопровожд</span>
        </th>
        <th>
            <span>Участник</span>
        </th>
        <th>
            <span>Создана</span>
        </th>
        <th>
            <span>Изменена</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call.CallsTechSites.FirstOrDefault().TechSite.Contact.Landlord.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call.CallsTechSites.FirstOrDefault().TechSite.Agent.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call.CallsTechSites.FirstOrDefault().TechSite.Negotiator.FIO.Split(' ')[0])
        </td>
        <td>
            @{ 
                sroSite.Models.sroNegotiator negotiator = sroSite.Models.ApplicationDbContext.Create().sroNegotiators.Where(x => x.UId == item.Responsible).FirstOrDefault();
            }
            <span>@(negotiator != null ? negotiator.FIO.Split(' ')[0] : "")</span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            <span>@((item.LastChangeDate).HasValue ? (((DateTime.Now - item.LastChangeDate).Value.TotalDays >= 1) ? (DateTime.Now - item.LastChangeDate).Value.TotalDays.ToString().Split(',')[0] + " дн." : (DateTime.Now - item.LastChangeDate).ToString().Split('.')[0]) : "00:00:00")</span>
        </td>
        <td style="vertical-align: middle; text-align: center; min-width: 90px;">

@if (!User.IsInRole("sroAgent"))
{
            <a href="@Url.Action("Edit", "sroTasks", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
}
            <a href="@Url.Action("Details", "sroTasks", new { id = item.Id })"><span class="glyphicon glyphicon-list-alt"></span></a>
@if (User.IsInRole("sroManager"))
{
                <a href="@Url.Action("Delete", "sroTasks", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
}
        </td>
    </tr>
}

</table>
@section Scripts {
    <script>
        function searchKeyUp() {
            document.getElementById("search").value = document.getElementById("searchfield").value;
            document.getElementById("searchchanged").value = 1;
        }

        $('.has-clear input[type="text"]').on('input propertychange', function () {
            var $this = $(this);
            var visible = Boolean($this.val());
            $this.siblings('.form-control-clear').toggleClass('hidden', !visible);
        }).trigger('propertychange');

        $('.form-control-clear').click(function () {
            $(this).siblings('input[type="text"]').val('')
                .trigger('propertychange').focus();
        });
    </script>
}