﻿@model sroSite.Models.sroCall

@{
    ViewBag.Title = "Create";
}

<h2>Создать звонок</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Формирование звонка</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{ 
            Html.EnableClientValidation(false);
        }
               

        <h4>Сайты</h4>
       
        <div class="form-group">
            <div class="col-md-10">
                @foreach (var item in ViewBag.SameSites.Items)
                {
                        <div class="checkbox">
                            <label style="font-size: 32px">
                                <input type="checkbox" name="sites" value="@item.Id" checked="checked" style="zoom: 1.8; margin-left: -10px; margin-right: 5px; margin-top: 6px;" />

                                @item.ERP
                            </label>
                            <span>
                                @item.Address
                            </span>
                            &nbsp;
                            <span>
                                @item.PricePerMonth
                                    RUR
                            </span>                           
                            &nbsp;
                            <span>
                                @Html.ActionLink("Просмотр", "Details", "sroTechSites", new { item.Id }, new { id = item.Id })
                            </span>
                        </div>
                }
            </div>
        </div>

            <div class="form-group">
                <label class="control-label col-md-2">Арендодатель</label>
                <div class="col-md-10">
                    @{
                        sroSite.Models.sroTechSite currTechSite = ViewBag.SameSites.Items[0];
                        <h4>
                            @currTechSite.Contact.Landlord.Name
                        </h4>
                        <input type="hidden" name="ContactId" value="@currTechSite.Contact.Id" id="ContactId" />
                    }
                </div>
                <label class="control-label col-md-2">Контакт</label>
                <div class="col-md-10">
                    @{
                        <h4>
                            @currTechSite.Contact.Person<br />
                            @currTechSite.Contact.Position<br />
                            @currTechSite.Contact.PhoneCell
                        </h4>
                    }
                </div>
            </div>

@if(ViewBag.OtherContactSites.Items.Count > 0 || ViewBag.OtherAgentSites.Items.Count > 0 || ViewBag.OtherSites.Items.Count > 0)
{
            <h4>Связанные сайты</h4>
}

@if (ViewBag.OtherContactSites.Items.Count > 0)
{ 
            <div class="form-group">
                <label class="control-label col-md-2 alert-danger">Сайты с другими контактами</label>
                <div class="col-md-10 alert-danger" style="padding-top: 7px;">
                    @foreach (var item in ViewBag.OtherContactSites.Items)
                    {
                        sroSite.Models.sroTechSite site = (sroSite.Models.sroTechSite)item;
                        <span>
                            @Html.ActionLink(site.ERP, "Details", "sroTechSites", new { site.Id }, new { id = site.Id })&nbsp;@site.Address
                        </span>
                    }
                </div>
            </div>
}
@if (ViewBag.OtherAgentSites.Items.Count > 0)
{
            <div class="form-group">
                <label class="control-label col-md-2 alert-danger">Сайты других агентов</label>
                <div class="col-md-10 alert-danger" style="padding-top: 7px;">
                    @foreach (var item in ViewBag.OtherAgentSites.Items)
                    {
                        sroSite.Models.sroTechSite site = (sroSite.Models.sroTechSite)item;
                        <span>
                            @Html.ActionLink(site.ERP, "Details", "sroTechSites", new { site.Id }, new { id = site.Id })&nbsp;@site.Address
                        </span>
                    }
                </div>
            </div>
}
@if (ViewBag.OtherSites.Items.Count > 0)
{
            <div class="form-group">
                <label class="control-label col-md-2 alert-danger">Другие сайты арендодателя</label>
                <div class="col-md-10 alert-danger" style="padding-top: 7px;">
                    @foreach (var item in ViewBag.OtherSites.Items)
                    {
                        sroSite.Models.sroTechSite site = (sroSite.Models.sroTechSite)item;
                        <span>
                            @Html.ActionLink(site.ERP, "Details", "sroTechSites", new { site.Id }, new { id = site.Id })&nbsp;@site.Address
                        </span>
                    }
                </div>
            </div>
}
            <!--
        <div class="form-group">
            @Html.LabelFor(model => model.StatTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StatTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StatTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LandlordReached, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.LandlordReached)
                    @Html.ValidationMessageFor(model => model.LandlordReached, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        -->
        <div class="form-group">
            @Html.LabelFor(model => model.StatTime, "Планируемая дата", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StatTime, new { htmlAttributes = new { @class = "form-control" } })
                <span class="label label-primary" style="cursor: pointer;" id="helper2h" name="helper2h" onclick="helper2hClick()">2 часа</span>
                <span class="label label-primary" style="cursor: pointer;" id="helperTomorrow" name="helperTomorrow" onclick="helperTomorrowClick()">Завтра</span>
                @Html.ValidationMessageFor(model => model.StatTime, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Comment, "Комментарий", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Начать подготовку" class="btn btn-default" />
                </div>
            </div>
        </div>

                    }

<div>
    @Html.ActionLink("К списку Звонков", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        function helper2hClick()
        {
            d = new Date();
            d.setHours(d.getHours() + 2);
            var strDate = d.getDate().toString();
            if (strDate.length == 1)
                strDate = "0" + strDate;
            var strMonth = (d.getMonth() + 1).toString();
            if (strMonth.length == 1)
                strMonth = "0" + strMonth;
            var strYear = d.getFullYear().toString();
            var strHours = d.getHours().toString();
            if (strHours.length == 1)
                strHours = "0" + strHours;
            var strMinutes = d.getMinutes().toString();
            if (strMinutes.length == 1)
                strMinutes = "0" + strMinutes;

            var result = strDate + "." + strMonth + "." + strYear + " " + strHours + ":" + strMinutes;

            document.getElementById("StatTime").innerHTML = result;
            document.getElementById("StatTime").value = result;
        }
        function helperTomorrowClick()
        {
            d = new Date();
            d.setHours(d.getHours() + 24);
            var strDate = d.getDate().toString();
            if (strDate.length == 1)
                strDate = "0" + strDate;
            var strMonth = (d.getMonth() + 1).toString();
            if (strMonth.length == 1)
                strMonth = "0" + strMonth;
            var strYear = d.getFullYear().toString();
            var strHours = d.getHours().toString();
            if (strHours.length == 1)
                strHours = "0" + strHours;
            var strMinutes = d.getMinutes().toString();
            if (strMinutes.length == 1)
                strMinutes = "0" + strMinutes;

            var result = strDate + "." + strMonth + "." + strYear + " " + strHours + ":" + strMinutes;

            document.getElementById("StatTime").value = result;
            document.getElementById("StatTime").innerHtml = result;
        }
    </script>
}
