﻿@model sroSite.Models.sroCall

@{
    ViewBag.Title = "Звонки";
}

<h2>Звонки</h2>

<div>
    <h4>@Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Статус</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            <span>Начало</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatTime)
        </dd>

        <dt>
            <span>Окончание</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            <span>Представитель контрагента</span>
        </dt>

        <dd>
            @if (Model.LandlordReached.HasValue)
            {
                if (Model.LandlordReached == true)
                {
                    <span>Достигнут</span>
                }
                else
                {
                    <span>Не достигнут</span>
                }
            }
            else
            {
                <span>Неизвестно</span>
            }
        </dd>

        <dt>
            <span>Комментарий</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Аргументы</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt style="width: 22px;">
                        @Html.DisplayFor(model => model.argGeneral, "SiteAdvantagesTeamplate")
                    </dt>
                    <dd style="margin-left: 3px;">
                        <span>Общие</span>
                    </dd>
                </dl> 
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt style="width: 22px;">
                        @Html.DisplayFor(model => model.argNationwide, "SiteAdvantagesTeamplate")
                    </dt>
                    <dd style="margin-left: 3px;">
                        <span>Национальный подход</span>
                    </dd>
                </dl> 
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt style="width: 22px;">
                        @Html.DisplayFor(model => model.argMarket, "SiteAdvantagesTeamplate")
                    </dt>
                    <dd style="margin-left: 3px;">
                        <span>Рынок</span>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt style="width: 22px;">
                        @Html.DisplayFor(model => model.argLowMargin, "SiteAdvantagesTeamplate")
                    </dt>
                    <dd style="margin-left: 3px;">
                        <span>Низкая эффективность</span>
                    </dd>
                </dl>                
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt style="width: 22px;">
                        @Html.DisplayFor(model => model.argNetwork, "SiteAdvantagesTeamplate")
                    </dt>
                    <dd style="margin-left: 3px;">
                        <span>Состав сети</span>
                    </dd>
                </dl> 
            </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt style="width: 22px;">
                        @Html.DisplayFor(model => model.argPriceDynamic, "SiteAdvantagesTeamplate")
                    </dt>
                    <dd style="margin-left: 3px;">
                        <span>Динамика стоимости</span>
                    </dd>
                </dl> 
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Предложения</div>
    <div class="panel-body">
        @if (Model.Proposals != null && Model.Proposals.Count > 0)
        {
            foreach (var proposal in Model.Proposals)
            {
                <div class="form-group">
                    @Html.Label(proposal.Id.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="margin-top: 7px;">
                        <span>@proposal.DecreasePercent&nbsp;|&nbsp;@proposal.DecreaseValue&nbsp;|&nbsp;@proposal.DecreaseStart.ToString()&nbsp;|&nbsp;@proposal.DecreaseEnd.ToString()</span>
                    </div>
                </div>
            }
        }
        else
        { <span>Нет</span>}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Задачи</div>
    <div class="panel-body">
        @if (Model.Tasks != null && Model.Tasks.Count > 0)
        {
            foreach (var task in Model.Tasks)
            {
                <div class="form-group">
                    <div style="margin-top: 5px;">
                        <span><b>@task.Id.ToString()</b>&nbsp;&nbsp;@task.Type&nbsp;|&nbsp;@task.Status&nbsp;|&nbsp;@task.StartDate.ToString()</span>
                    </div>
                </div>
            }
        }
        else
        {
            <span>Нет</span>
        }
    </div>
</div>

<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("К списку звонков", "Index")
</p>
