﻿@model sroSite.Models.sroCall

@{
    ViewBag.Title = "Звонок";
}

<h2>Звонок&nbsp;@Model.Id</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>
            <span>
                @Model.Status
            </span>
        </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @{ 
            var Contact = sroSite.Models.ApplicationDbContext.Create().sroLandlordContacts.Where(x => x.Id == Model.ContactId).FirstOrDefault();
            var Landlord = Contact != null ? Contact.Landlord : null;
        }

        <div class="panel panel-default">
            <div class="panel-heading"><h4>@(Landlord != null ? Landlord.Name : "неизвестно")</h4></div>
            <div class="panel-body">
                <span>ИНН:&nbsp;<span>@(Landlord != null ? Landlord.INN : "неизвестно")</span>&nbsp;Тип:&nbsp;<span>@(Landlord != null ? Landlord.Type : "неизвестно")</span></span>
                <br /><br />
                <div class="well">
                    <h4>Контакт</h4>
                    <span>
                        <span>
                            @if (Contact != null)
                            {
                                if (Contact.IsActual == true)
                                {
                                    <img src="~/Content/images/success.png" style="width: 12px; height: 12px;" />
                                }
                                else
                                {
                                    <img src="~/Content/images/error.png" style="width: 12px; height: 12px;" />
                                }
                            }
                            else
                            {
                                <img src="~/Content/images/info.png" style="width: 12px; height:12px;" />
                            }
                        </span>
                        <span style="vertical-align: middle;">@(Contact != null ? Contact.Person : "неизвестно")</span>&nbsp;<span>@(Contact != null ? Contact.Position : "неизвестно")</span>&nbsp;<span>@(Contact != null ? Contact.PhoneCell : "неизвестно")</span>
                        <span>
                            @(Contact != null ? Contact.PhoneCity : "неизвестно")
                        </span>
                    </span>
                    <span>@(Contact != null ? Contact.Comment : "неизвестно")</span>
                    <br /><br />
                    <h4>Сайты:</h4>
                    @foreach (var item in ViewBag.SameSites.Items)
                    {
                        <span>
                            <label>
                                <a href="@Url.Action("Details", "sroTechSites", new { item.TechSite.Id })">
                                    @item.TechSite.ERP
                                </a>
                            </label>
                            <span>
                                @item.TechSite.Address
                            </span>
                            &nbsp;
                            <span>
                                @item.TechSite.PricePerMonth
                                RUR
                            </span>
                        </span>
                        <br />
                    }
                    </div>
                    @if (Model.Status == "Переговоры" || Model.Status == "Отчет" || Model.Status == "Завершен")
                    {
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Начало звонка
                            </label>
                            <div class="col-md-10">
                                <label class="form-control" style="width: 160px;">
                                    @Model.StatTime
                                </label>
                            </div>
                        </div>
                    }

                    @if (Model.Status == "Отчет" || Model.Status == "Завершен")
                    {
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Окончание звонка
                            </label>
                            <div class="col-md-10">
                                <label class="form-control" style="width: 160px;">
                                    @Model.EndTime
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Переговоры
                            </label>
                            <div class="col-md-10">
                                <label class="form-control" style="width: 160px;">
                                    @((Model.LandlordReached != null) ? (Model.LandlordReached == true ? "Проведены" : "Не проведены") : "Неизвестно")
                                </label>
                            </div>
                        </div>
                        if (Model.Status == "Отчет")
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.Comment, "Комментарий", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%;" } })
                                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        if (Model.Status == "Завершен")
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Комментарий
                                </label>
                                <div class="col-md-10">
                                    <label class="form-control" style="width: 100%;">
                                        @Model.Comment
                                    </label>
                                </div>
                            </div>
                        }
                    }
                </div>
        </div>

                

               

                @if (Model.Status == "Отчет")
                {
                    if (Model.LandlordReached != null && Model.LandlordReached == true)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Аргументы</h4></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(model => model.argGeneral)                                            
                                            <span>@Html.LabelFor(model => model.argGeneral, "Общие")</span>
                                         </div>
                                        @Html.ValidationMessageFor(model => model.argGeneral, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(model => model.argNationwide)
                                            <span>@Html.LabelFor(model => model.argNationwide, "Национальный подход")</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.argNationwide, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(model => model.argMarket)
                                            <span>@Html.LabelFor(model => model.argMarket, "Рынок")</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.argMarket, "", new { @class = "text-danger" })                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(model => model.argLowMargin)
                                            <span>@Html.LabelFor(model => model.argLowMargin, "Низкая эффективность")</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.argLowMargin, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(model => model.argNetwork)
                                            <span>@Html.LabelFor(model => model.argNetwork, "Состав сети")</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.argNetwork, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(model => model.argPriceDynamic)
                                            <span>@Html.LabelFor(model => model.argPriceDynamic, "Динамика стоимости")</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.argPriceDynamic, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    if (Model.LandlordReached != null && Model.LandlordReached == true)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Предложения&nbsp;<a href="@Url.Action("Create", "sroProposals", new { callId = Model.Id })"><span class="glyphicon glyphicon-plus-sign"></span></a></h4></div>
                            <div class="panel-body">
                                @if (Model.Proposals != null && Model.Proposals.Count > 0)
                                {
                                foreach (var proposal in Model.Proposals)
                                {
                                <div class="form-group">
                                    @Html.Label(proposal.Id.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10" style="margin-top: 7px;">
                                        <span>@proposal.DecreasePercent&nbsp;|&nbsp;@proposal.DecreaseValue&nbsp;|&nbsp;@proposal.DecreaseStart.ToString()&nbsp;|&nbsp;@proposal.DecreaseEnd.ToString()</span>
                                    </div>
                                </div>
                                }
                                }
                                else
                                { <span>Нет</span>}
                            </div>
                        </div>
                    }
                    <div class="panel panel-default">
                        <div class="panel-heading"><h4>Задачи&nbsp;<a href="@Url.Action("Create", "sroTasks", new { callId = Model.Id })"><span class="glyphicon glyphicon-plus-sign"></span></a></h4></div>
                        <div class="panel-body">
                            @if (Model.Tasks != null && Model.Tasks.Count > 0)
                            {
                            foreach (var task in Model.Tasks)
                            {
                            <div class="form-group">
                                @Html.Label(task.Id.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10" style="margin-top: 7px;">
                                    <span>@task.Type&nbsp;|&nbsp;@task.Status&nbsp;|&nbsp;@task.StartDate.ToString()</span>
                                </div>
                            </div>
                            }
                            }
                            else
                            { <span>Нет</span>}
                        </div>
                    </div>     
                }

                @if (Model.Status == "Завершен")
                {
                    if (Model.LandlordReached != null && Model.LandlordReached == true)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">Аргументы</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt style="width: 22px;">
                                                @Html.DisplayFor(model => model.argGeneral, "SiteAdvantagesTeamplate")
                                            </dt>
                                            <dd style="margin-left: 3px;">
                                                <span>Общие</span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt style="width: 22px;">
                                                @Html.DisplayFor(model => model.argNationwide, "SiteAdvantagesTeamplate")
                                            </dt>
                                            <dd style="margin-left: 3px;">
                                                <span>Национальный подход</span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt style="width: 22px;">
                                                @Html.DisplayFor(model => model.argMarket, "SiteAdvantagesTeamplate")
                                            </dt>
                                            <dd style="margin-left: 3px;">
                                                <span>Рынок</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt style="width: 22px;">
                                                @Html.DisplayFor(model => model.argLowMargin, "SiteAdvantagesTeamplate")
                                            </dt>
                                            <dd style="margin-left: 3px;">
                                                <span>Низкая эффективность</span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt style="width: 22px;">
                                                @Html.DisplayFor(model => model.argNetwork, "SiteAdvantagesTeamplate")
                                            </dt>
                                            <dd style="margin-left: 3px;">
                                                <span>Состав сети</span>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt style="width: 22px;">
                                                @Html.DisplayFor(model => model.argPriceDynamic, "SiteAdvantagesTeamplate")
                                            </dt>
                                            <dd style="margin-left: 3px;">
                                                <span>Динамика стоимости</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    if (Model.LandlordReached != null && Model.LandlordReached == true)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">Предложения</div>
                            <div class="panel-body">
                                @if (Model.Proposals != null && Model.Proposals.Count > 0)
                                {
                                    foreach (var proposal in Model.Proposals)
                                    {
                                        <div class="form-group">
                                            @Html.Label(proposal.Id.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10" style="margin-top: 7px;">
                                                <span>@proposal.DecreasePercent&nbsp;|&nbsp;@proposal.DecreaseValue&nbsp;|&nbsp;@proposal.DecreaseStart.ToString()&nbsp;|&nbsp;@proposal.DecreaseEnd.ToString()</span>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                { <span>Нет</span>}
                            </div>
                        </div>
                    }

                    <div class="panel panel-default">
                        <div class="panel-heading">Задачи</div>
                        <div class="panel-body">
                            @if (Model.Tasks != null && Model.Tasks.Count > 0)
                            {
                                foreach (var task in Model.Tasks)
                                {
                                    <div class="form-group">
                                        @Html.Label(task.Id.ToString(), htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10" style="margin-top: 7px;">
                                            <span>@task.Type&nbsp;|&nbsp;@task.Status&nbsp;|&nbsp;@task.StartDate.ToString()</span>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            { <span>Нет</span>}
                        </div>
                    </div>

                }

                <!--
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>-->

                @if (Model.Status == "Подготовка")
                {
                    <div class="form-group">
                            <input type="submit" value="Начать звонок" class="btn btn-default" style="margin-left: 16px;" />
                    </div>
                }

                @if (Model.Status == "Переговоры")
                {
                    <div class="form-group">
                            <input type="hidden" name="Complete" value="" id="Complete" />
                            <input type="submit" value="Завершен успешно" class="btn btn-success" onclick="SuccessClick()" style="margin-left: 16px;" />
                            <input type="submit" value="Не достигнут" class="btn btn-danger" onclick="NegativeClick()" />
                    </div>
                }

                @if (Model.Status == "Отчет")
                {
                    <div class="form-group">                        
                        <input type="submit" value="Отправить отчет" class="btn btn-default" style="margin-left: 16px;" />                       
                    </div>
                }

                <!--
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Начать звонок", "StartCall", "sroCalls", Model, new { @class = "btn btn-default" })
                    </div>
                </div>-->
            </div>
            }
            <hr />
            <div>
                @Html.ActionLink("К списку Звонков", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                <script>
                    function SuccessClick() {
                        document.getElementById("Complete").value = "success";
                    }

                    function NegativeClick() {
                        document.getElementById("Complete").value = "negative";
                    }
                </script>
            }
