﻿@model IEnumerable<sroSite.Models.sroCall>

@{
    ViewBag.Title = "Звонки";
}

<h2>Звонки</h2>

<!--<p>
    @Html.ActionLink("Создать", "Create")
</p>-->

<!--<div id="gridContainer"></div>-->

@{
    int page;
    string search;
}
@if (Request["page"].IsInt())
{
    if (int.TryParse(Request["page"], out page))
    {

    }
    else
    {
        page = 1;
    }
}
else
{
    page = 1;
}
@if (ViewBag.page > 0)
{
    page = ViewBag.page;
}
@if (!Request["search"].IsEmpty())
{
    search = Request["search"];
}
else
{
    search = string.Empty;
}

<form id="navData" name="navData">
    <div class="row">
        <div class="col-md-9">
            @if (ViewBag.TotalCount > 12)
            {
                <ul class="pagination" style="margin-top: 0px; margin-bottom: 5px;">
                    @for (int i = 0; i < ViewBag.TotalCount; i += 12)
                    {
                        <li class="@(page == ((i / 12) + 1) ? "active" : "")"><a href="@(Url.Action("Index", new { page = ((i / 12) + 1), search = search }))">@((i / 12) + 1)</a></li>
                    }
                </ul>
            }
        </div>
        <div class="col-md-3">
            <div class="input-group" style="margin-top: 0px; margin-bottom: 10px;">
                <!--<div class="form-group has-feedback has-clear">-->
                <input type="text" class="form-control" placeholder="Поиск" value="@(String.IsNullOrEmpty(search) ? "" : search)" onkeyup="searchKeyUp()" id="searchfield">
                <!--<span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden" style="z-index: 10;pointer-events: auto;cursor: pointer;"></span>-->
                <!--</div>-->
                <div class="input-group-btn">
                    <button class="btn btn-default" style="height:34px;" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("page", page)
    @Html.Hidden("search", search)
    @Html.Hidden("searchchanged")
</form>

<table class="table">
    <tr>
        <th>
            <span>№</span>
        </th>
        <th>
            <span>Статус</span>
        </th>
        @if (User.IsInRole("sroManager"))
        {
            <th>
                <span>Агент</span>
            </th>

            <th>
                <span>Сопровожд</span>
            </th>
        }
        <th>
            <span>Арендодатель</span>
        </th>
        <th>
            <span>Представитель</span>
        </th>
        <th>
            <span>Сайты</span>
        </th>
        <th>
            <span>Дата</span>
        </th>
        <th>
            <span>Начат</span>
        </th>
        <th>
            <span>Длит.</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @if (User.IsInRole("sroManager"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CallsTechSites.FirstOrDefault().TechSite.Agent.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CallsTechSites.FirstOrDefault().TechSite.Negotiator.FIO.Split(' ')[0])
                </td>
            }
            @{
                var Contact = sroSite.Models.ApplicationDbContext.Create().sroLandlordContacts.Where(x => x.Id == item.ContactId).FirstOrDefault();
                var Landlord = Contact != null ? Contact.Landlord : null;
            }
            <td>
                <sapn>@(Landlord != null ? Landlord.Name : "недоступно")</sapn>
            </td>
            <td>
                @{ 
                    string contactPosition = Contact != null ? Contact.Position : string.Empty;
                }
                @if (!string.IsNullOrEmpty(contactPosition))
                {
                    <span>@(Contact.Position)</span>
                    <span>:&nbsp;</span>
                }
                <span>@(Contact != null ? Contact.Person : "недоступно")</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallsTechSites.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDateString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortStartTimeString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortCallLengthString)
            </td>
            <td style="vertical-align: middle; text-align: center; min-width: 90px;">

                <a href="@Url.Action("Edit", "sroCalls", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>

                <a href="@Url.Action("Details", "sroCalls", new { id = item.Id })"><span class="glyphicon glyphicon-list-alt"></span></a>
                @if (User.IsInRole("sroManager"))
                {
                    <a href="@Url.Action("Delete", "sroCalls", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
                }
            </td>
        </tr>
    }

</table>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="~/Content/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/dx.light.css" />
    <script src="~/Scripts/dx.web.js"></script>    

    <script type="text/javascript">

        function searchKeyUp() {
            document.getElementById("search").value = document.getElementById("searchfield").value;
            document.getElementById("searchchanged").value = 1;
        }

        $('.has-clear input[type="text"]').on('input propertychange', function () {
            var $this = $(this);
            var visible = Boolean($this.val());
            $this.siblings('.form-control-clear').toggleClass('hidden', !visible);
        }).trigger('propertychange');

        $('.form-control-clear').click(function () {
            $(this).siblings('input[type="text"]').val('')
                .trigger('propertychange').focus();
        });


        $(function () {
            var calls = new DevExpress.data.CustomStore({
                load: function (loadOptions) {
                    var deferred = $.Deferred(),
                        args = {};

                    if (loadOptions.sort) {
                        args.orderby = loadOptions.sort[0].selector;
                        if (loadOptions.sort[0].desc)
                            args.orderby += " desc";
                    }

                    args.skip = loadOptions.skip || 0;
                    args.take = loadOptions.take || 10;

                    $.ajax({
                        url: "@Url.Action("GetCalls", "sroCalls")",
                        data: args,
                        cache: false,
                        success: function (result) {
                            deferred.resolve(result.items, { totalCount: result.totalCount });
                        },
                        error: function () {
                            deferred.reject("Data Loading Error");
                        },
                        timeout: 5000
                    });

                    return deferred.promise();
                }
            });

            $("#gridContainer").dxDataGrid({
                dataSource: {
                    store: calls
                },
                remoteOperations: {
                    sorting: true,
                    paging: true
                },
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 20]                    
                },
                searchPanel: {
                    visible: true,
                    width: 240,
                    placeholder: "Search..."
                },
                @if (true) {
                    @:columns: ["Id", "Status", "ShortDateString", "ShortStartTimeString", "ShortCallLengthString", { dataField: "ImgEditTeamplate", width: 100, allowFiltering: false, allowSorting: false, cellTemplate: function(container, options) { $("<div>", { "class": "img-container" }).append(options.value).appendTo(container);} }]
                }
                });
        });

    </script>
}