﻿@model IEnumerable<sroSite.Models.sroCallsTechSites>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Call.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechSite.ERP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Call.Id)
            @Html.DisplayFor(modelItem => item.TechSite.Agent.Name)
            @Html.DisplayFor(modelItem => item.Call.Status)
            @Html.DisplayFor(modelItem => item.TechSite.ERP)
            @Html.DisplayFor(modelItem => item.TechSite.Contact.Landlord.Name)
            @Html.DisplayFor(modelItem => item.TechSite.Contact.Person)
            @Html.DisplayFor(modelItem => item.TechSite.Contact.Position)
            @Html.DisplayFor(modelItem => item.TechSite.Contact.PhoneCell)            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechSite.ERP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
