﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title SRO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/select2.css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
@if (User.Identity.IsAuthenticated)
{
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SRO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
}

            <div class="navbar-collapse collapse">
@if (User.Identity.IsAuthenticated)
{
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Сайты", "Index", "sroTechSites")</li>
                    <li>@Html.ActionLink("Звонки", "Index", "sroCalls")</li>
                    <li>@Html.ActionLink("Предложения", "Index", "sroProposals")</li>
                    <li>@Html.ActionLink("Задачи", "Index", "sroTasks")</li>
                    <li>@Html.ActionLink("Контакты", "Index", "sroLandlordContacts")</li>

                    
                    @if (User.IsInRole("sroManager"))
                    {
                        <li>@Html.ActionLink("Агенты", "Index", "sroAgents")</li>
                        <li>@Html.ActionLink("Сопровождающие", "Index", "sroNegotiators")</li>
                        <li>@Html.ActionLink("Контрагенты", "Index", "sroLandlords")</li>
                    }
                </ul>
}
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()        
        <footer>
            <!--
            <div class="navbar navbar-inverse navbar-fixed-bottom" style="min-height: 0px; border: 0px;">
                <div class="container">
                    <div class="navbar-collapse collapse">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("BU RUSSIA "+ @DateTime.Now.Year +" - SRO Web Application", "About", "Home")</li>
                            </ul>
                         }
                    </div>
                </div>
            </div>
             -->       
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/select2.js")

    @RenderSection("scripts", required: false)
</body>
</html>
