﻿@using Microsoft.AspNet.Identity
@using sroSite.Models.Extensions

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("Index", "Manage", routeValues: null)" id="registerLink" title="@sroSite.Models.Extensions.IdentityExtentions.GetSroUserRolesStr()"><span class="glyphicon glyphicon-user"></span></a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-outglyphicon glyphicon-log-out"></span></a></li>
        @if (User.IsInRole("sroManager"))
        {
            <li>
                <a href="@Url.Action("Users", "Manage", routeValues: null)" id="usersLink"><span class="glyphicon glyphicon-cog"></span></a>
            </li>
        }
    </ul>
    }
}
else
{
    <!--
    <ul class="nav navbar-nav navbar-right">        
        <li style="background-color: #ffcb24;">@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style = "color: #2C2C2C;" })</li>
    </ul>
    -->
}
