﻿@model bool?

@if (Model.HasValue)
{
    if (Model.Value)
    {
        <span class="glyphicon glyphicon-ok"></span>
    }
    else
    {
        <span class="glyphicon glyphicon-remove"></span>
    }
}
else
{
    <span class="glyphicon"><b>?</b></span>
}
