﻿@model bool?

@if (Model.HasValue)
{
    if (Model.Value)
    {
        <div style="width: 16px; height: 16px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background-color: limegreen;"></div>        
    }
    else
    {
        <div style="width: 16px; height: 16px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; background-color: orangered;"></div>
    }
}
else
{
    <span class="glyphicon"><b>?</b></span>
}