﻿@model sroSite.Models.sroTechSite

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>sroTechSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agent.UId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent.UId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact.Person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact.Person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negotiator.UId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negotiator.UId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pull)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ERP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ERP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BSNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BSNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Filial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractExpire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractExpire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoLong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoLong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoLongPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoLongPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialContractTerms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialContractTerms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceCompareToAvg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceCompareToAvg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChangeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChangeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChagePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChagePercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aLowMarginSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aLowMarginSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aDecreasedEquipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aDecreasedEquipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aOftenGrowth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aOftenGrowth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aLoyalClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aLoyalClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rImportantSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rImportantSite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rElectricityIsIncludedInRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rElectricityIsIncludedInRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rBigAmountOfEqupment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rBigAmountOfEqupment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rIncreasedAmountIfEquipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rIncreasedAmountIfEquipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rDiscountsOrLongPriceFreeze)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rDiscountsOrLongPriceFreeze)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rPaymentTrouble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rPaymentTrouble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rServiceTroubleOrOffset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rServiceTroubleOrOffset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavingRelative)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingRelative)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavingStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavingEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effect17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Effect17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effect18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Effect18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectRep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectRep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
