﻿@model sroSite.Models.sroTechSite

@{
    ViewBag.Title = Model.ERP;
}

<h2>Сайты</h2>

<div>
    <h4>@Model.ERP</h4>
    <hr />

    <div class="row">
        <div class="col-md-4" style="display: block; min-width: 555px; max-width: 555px; margin: 15px; border-radius: 6px;">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("ERP")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ERP)
                    </dd>

                    <dt>
                        @Html.DisplayName("БС")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BSNum)
                    </dd>

                    <dt>
                        @Html.DisplayName("Регион")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Region)
                    </dd>

                    <dt>
                        @Html.DisplayName("Филиал")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Filial)
                    </dd>

                    <dt>
                        @Html.DisplayName("Адрес")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <br />

                    <dt>
                        @Html.DisplayName("Контрагент")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Contact.Landlord.Name)
                    </dd>

                    <dt>
                        @Html.DisplayName("Представитель")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Contact.Person)
                    </dd>

                    <br />

                    <dt>
                        @Html.DisplayName("Агент")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Agent.FIO)
                    </dd>

                    <dt>
                        @Html.DisplayName("Сопровождающий")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Negotiator.FIO)
                    </dd>

                    <dt>
                        @Html.DisplayName("Пулл")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Pull)
                    </dd>

                    <br />

                    <dt>
                        @Html.DisplayName("ДОГОВОР:")
                    </dt>
                    <dd>
                       &nbsp;
                    </dd>

                    <dt>
                        @Html.DisplayName("Номер")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ContractNumber)
                    </dd>

                    <dt>
                        @Html.DisplayName("Дата")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ContractDate)
                    </dd>

                    <dt>
                        @Html.DisplayName("Истекает")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ContractExpire)
                    </dd>

                    <dt>
                        @Html.DisplayName("Автопролонгация")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AutoLong, "NullableBoolColorTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Период (мес)")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AutoLongPeriod)
                    </dd>

                    <dt>
                        @Html.DisplayName("Специальные условия")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SpecialContractTerms)
                    </dd>

                    <dt>
                        @Html.DisplayName("Цена позиции (руб в мес без НДС)")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PricePerMonth)
                    </dd>

                    <dt>
                        @Html.DisplayName("Цена к средней (%)")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PriceCompareToAvg)
                    </dd>

                    <dt>
                        @Html.DisplayName("Налог (%)")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tax)
                    </dd>

                    <dt>
                        @Html.DisplayName("Период оплаты (мес)")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PaymentFrequency)
                    </dd>

                    <dt>
                        @Html.DisplayName("Аванс")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Prepayment, "NullableBoolColorTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Дата последнего изменения условий")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastChangeDate)
                    </dd>

                    <dt>
                        @Html.DisplayName("Последнее изменение стоимости (%)")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastChagePercent)
                    </dd>

                </dl>
            </div>
        </div>
        <div class="col-md-4" style="display: block; min-width: 555px; max-width: 555px; margin: 15px; border-radius: 6px;">
            <div>                
                <dl class="dl-horizontal">
                    <dt>
                        
                    </dt>
                    <dd>
                        <a href="http://maps.google.com/?q=@(System.Web.HttpUtility.UrlPathEncode(Model.Address))"><img src="~/Content/images/mapya.png" style="width: 48px; height: 48px;" /></a>
                        @if (User.IsInRole("sroManager"))
                        {
                        <a href="http://maps.google.com/maps?q=&layer=c&cbll=55.759256,37.611631&cbp=11,-150,-40,0,0"><img src="~/Content/images/map.png" style="width: 48px; height: 48px;" /></a>
                        }
                    </dd>
                    <br />

                    <dt>
                        @Html.DisplayName("АРГУМЕНТЫ:")
                    </dt>
                    <dd>
                        &nbsp;
                    </dd>
                    <dt>
                        @Html.DisplayName("Низкомаржинальный сайт")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.aLowMarginSite, "SiteAdvantagesTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Оптимизация состава/веса/площади")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.aDecreasedEquipment, "SiteAdvantagesTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Ежегодный рост")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.aOftenGrowth, "SiteAdvantagesTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Лояльный Клиент")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.aLoyalClient, "SiteAdvantagesTeamplate")
                    </dd>
                    
                    <br />

                    <dt>
                        @Html.DisplayName("РИСКИ:")
                    </dt>
                    <dd>
                        &nbsp;
                    </dd>
                    <dt>
                        @Html.DisplayName("Важный сайт")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rImportantSite, "SiteRisksTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Электричество в стоимости аренды")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rElectricityIsIncludedInRent, "SiteRisksTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Большой объем оборудования")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rBigAmountOfEqupment, "SiteRisksTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Увеличение состава оборудования")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rIncreasedAmountIfEquipment, "SiteRisksTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Скидки или длительное неповышение")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rDiscountsOrLongPriceFreeze, "SiteRisksTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Проблемы с платежами")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rPaymentTrouble, "SiteRisksTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Проблемы с сервисом Клиента")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.rServiceTroubleOrOffset, "SiteRisksTeamplate")
                    </dd>

                    <dt>
                        @Html.DisplayName("Комментарий")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Comment)
                    </dd>

                    

                </dl>
            </div>
        </div>
    </div>
    <hr />

@if (User.IsInRole("sroManager"))
{
    <div class="row">
        <div class="col-md-4" style="display: block; min-width: 555px; max-width: 555px; margin: 15px; border-radius: 6px;">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Статус")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayName("Дата статуса")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.StatusDate)
                    </dd>

                    <dt>
                        @Html.DisplayName("Результат")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Result)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SavingAmount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SavingAmount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SavingRelative)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SavingRelative)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SavingStartDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SavingStartDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SavingEndDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SavingEndDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EffectTotal)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EffectTotal)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EffectYear)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EffectYear)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Effect17)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Effect17)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Effect18)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Effect18)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EffectRep)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EffectRep)
                    </dd>

                    <dt>
                        @Html.DisplayName("Подтверждено")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsApproved)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
}
</div>
            <p>
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("К списку сайтов", "Index")
            </p>
