﻿@model IEnumerable<sroSite.Models.sroTechSite>

@{
    ViewBag.Title = "Index";
}

<h2>
    Сайты
    @if (User.IsInRole("sroManager"))
    {        
        <a href="@Url.Action("Create", "sroTechSites")"><span class="glyphicon glyphicon-plus-sign"></span></a>
    }
</h2>

@{
    int page;
    string search;
}
@if (Request["page"].IsInt())
{
    if (int.TryParse(Request["page"], out page))
    {

    }
    else
    {
        page = 1;
    }
}
else
{
    page = 1;
}
@if (ViewBag.page > 0)
{
    page = ViewBag.page;
}
@if (!Request["search"].IsEmpty())
{
    search = Request["search"];
}
else
{
    search = string.Empty;
}

<form id="navData" name="navData">
    <div class="row">
        <div class="col-md-9">
            @if (ViewBag.TotalCount > 12)
            {
                <ul class="pagination" style="margin-top: 0px; margin-bottom: 5px;">
                    @for (int i = 0; i < ViewBag.TotalCount; i += 12)
                    {
                        <li class="@(page == ((i / 12) + 1) ? "active" : "")"><a href="@(Url.Action("Index", new { page = ((i / 12) + 1), search = search }))">@((i / 12) + 1)</a></li>
                    }
                </ul>
            }
        </div>
        <div class="col-md-3">
            <div class="input-group" style="margin-top: 0px; margin-bottom: 10px;">
                <!--<div class="form-group has-feedback has-clear">-->
                <input type="text" class="form-control" placeholder="Поиск" value="@(String.IsNullOrEmpty(search) ? "" : search)" onkeyup="searchKeyUp()" id="searchfield">
                <!--<span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden" style="z-index: 10;pointer-events: auto;cursor: pointer;"></span>-->
                <!--</div>-->
                <div class="input-group-btn">
                    <button class="btn btn-default" style="height:34px;" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("page", page)
    @Html.Hidden("search", search)
    @Html.Hidden("searchchanged")
</form>

<table class="table">
    <tr>
        <th></th>
        <th>
            Статус
        </th>
        <th>
            ERP
        </th>
        <th>
            Контрагент
        </th>
        <th>
            Контакт
        </th>
@if (User.IsInRole("sroManager") || User.IsInRole("sroNegotiator"))
{
        <th>
            Агент
        </th>
}
@if (User.IsInRole("sroManager") || User.IsInRole("sroAgent"))
{
        <th>
            Сопровожд.
        </th>
}
        <th>Звонки</th>
        <th>Предл.</th>
        <th>Задачи</th>
        <th style="width: 90px;"></th>
    </tr>
@{ 
    int ind = 0;
    List<int> dataCalls = ViewBag.dataCalls;
    List<int> dataCallsOpened = ViewBag.dataCallsOpened;
    List<int> dataProposals = ViewBag.dataProposals;
    List<int> dataProposalsOpened = ViewBag.dataProposalsOpened;
    List<int> dataTasks = ViewBag.dataTasks;
    List<int> dataTasksOpened = ViewBag.dataTasksOpened;
}

@foreach (var item in Model) {
    <tr  style="font-size: small;">
        <td>
            @if (User.IsInRole("sroManager") || User.IsInRole("sroAgent")) {
                <a href="@Url.Action("Create", "sroCalls", new { siteId = item.Id })"><span class="glyphicon glyphicon-earphone"></span></a>
            }            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td> 
        <td >
            @Html.DisplayFor(modelItem => item.ERP)
        </td> 
        <td>
            @Html.ActionLink(item.Contact.Landlord.Name, "Details", "sroLandlords", new { id = item.Contact.LandlordId }, null)
        </td>
        <td>
            @Html.ActionLink(item.Contact.Person, "Details", "sroLandlordContacts", new { id = item.ContactId }, null)
        </td>

        @if (User.IsInRole("sroManager") || User.IsInRole("sroNegotiator"))
        {
            <td>
                @Html.ActionLink(item.Agent.Name, "Details", "sroAgents", new { id = item.AgentId }, null)
            </td>
        }
        @if (User.IsInRole("sroManager") || User.IsInRole("sroAgent"))
        {
            <td>
                @Html.ActionLink(item.Negotiator.FIO.Split(' ')[0], "Details", "sroNegotiators", new { id = item.NegotiatorId }, null)
            </td>
        }
        <td>@dataCallsOpened[ind] из @dataCalls[ind]</td>
        <td>@dataProposalsOpened[ind] из @dataProposals[ind]</td>
        <td>@dataTasksOpened[ind] из @dataTasks[ind]</td>
        <td style="vertical-align: middle; text-align: center; min-width: 90px;">

            <a href="@Url.Action("Edit", "sroTechSites", new { id = item.Id })"><span class="glyphicon glyphicon-pencil"></span></a>

            <a href="@Url.Action("Details", "sroTechSites", new { id = item.Id })"><span class="glyphicon glyphicon-list-alt"></span></a>
            @if (User.IsInRole("sroManager"))
            {
                <a href="@Url.Action("Delete", "sroTechSites", new { id = item.Id })"><span class="glyphicon glyphicon-trash"></span></a>
            }
        </td>
    </tr>
    ind++;
}

</table>
@section Scripts {
    <script>
        function searchKeyUp() {
            document.getElementById("search").value = document.getElementById("searchfield").value;
            document.getElementById("searchchanged").value = 1;
        }

        $('.has-clear input[type="text"]').on('input propertychange', function () {
            var $this = $(this);
            var visible = Boolean($this.val());
            $this.siblings('.form-control-clear').toggleClass('hidden', !visible);
        }).trigger('propertychange');

        $('.form-control-clear').click(function () {
            $(this).siblings('input[type="text"]').val('')
                .trigger('propertychange').focus();
        });
    </script>
}
